<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSUserDefaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>554DE7811E91E57A0056B654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554DE7951E91E57A0056B654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554DE7A01E91E57A0056B654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
